* {
  font-family: cursive, verdana, sans-serif;
  text-align: center;
  background-color: Yellow;
}

title {
  float: none;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

ul {
}

p {
  display: inline-block;
  background-color: yellow;
}

#likes {
}

div {
border: 1px dotted red;
padding: 10px;
margin: 20px;
}
